h1{
    color: red;
    
    
}
h2{
    color: rgb(13, 13, 13);
}
img {
    width: 200px;
    height: 200px;
}
h2{
    color: red;

}
    a{
        color: red;
        background-color: black;
    }
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
    }
